<div class="text-center">
  {{!-- header --}}
  <div class="mt-3">
    <img src="/assets/img/buger_clear_illust.png" alt="Burger" style="width: 20em;" />
    <h1>Eat Da Burger!</h1>
    <hr>
  </div>
  {{!-- body --}}
  <div class="row">
    <div class="col-6">
      <h2>Your Order is Ready!</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-6">
      <h2>Pervious Order</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  {{!-- send form --}}
  <div class="card-body">
    <h2>Add an Order</h2>
    <form class="create-form">

      <textarea class="form-control" rows="3" style="width: 50%; margin: auto;" id="bg" name="name"></textarea>

      {{!-- <div class="form-group">
        <label for="sleepy">Sleepy?</label><br>
        <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
        <input type="radio" name="sleepy" value="0"> Awake
      </div> --}}

      <button class="btn btn-primary m-2" type="submit" name="devour" value="0">Submit</button>

      <h5 class="card-title">
        Enter a buger you want to eat then click the Submit button.
      </h5>
    </form>
  </div>
</div>