* {
  background-color: gold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
  margin: 5px;
  background-color: lightgoldenrodyellow;
}

.label {
  font-weight: bold;
}

/* .create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
} */
